# Environment configuration for API Gateway
NODE_ENV=development

# Connection
TRANSPORT_URL=0.0.0.0:5005
HTTP_PORT=9105
STORE_SERVICE_URL=0.0.0.0:5004
USER_SERVICE_URL=0.0.0.0:5002

# Database
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Rabbit MQ
RABBITMQ_URL=
RABBITMQ_QUEUE=